.nav-link{
    color:white !important;
}

.nav-link:hover{
    color:black !important;
    background-color:white ;
    border-radius: 10px;
    font-weight: bold;
}

.navbar-brand:hover{
    font-weight: bold;
}

hr.rounded{
    border-top:8px solid lightblue;
    border-radius: 5px;
}


