{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top: 50px">
<h1 class="text-center">About Us</h1>
<br><br><br><br>
<div class="row">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/about-post.jpg' %}" width="300" height="200" class="img-responsive">
    </div>
    <div class="col-sm-8 font-weight-bold ">
        The healthcare industry depends on the efforts of many different healthcare professionals. Of course, you have your doctors, nurses, and other healthcare workers, but that is not all. Hospitals, nursing homes, and other healthcare institutions also need people for administrative jobs.

A healthcare institution’s job is to ensure its patients receive the best care possible in every aspect. For that, they need administrative professionals who are ready to take on the challenge of managing hospitals and other healthcare facilities. 

The healthcare industry’s CAGR for 2023-2027 is forecasted to be about 10.95%, while its projected market volume is $92.01 billion by 2027. With this growth rate, we can easily assume that the demand for hospital management professionals is soon to grow even more. 

If you are considering becoming a hospital and healthcare management professional, now is a perfect time!

Let us take you through the details of hospital management, a career, its scope and various other aspects. 



    </div>
</div>
</div>



{% endblock %}